<!DOCTYPE html>
<html>
<head>
    <title>MQTT Example</title>
<!--    <script src="paho-mqtt.js"></script> &lt;!&ndash; 引入Paho MQTT库文件 &ndash;&gt;-->
    <script src="../static/js/paho-mqtt.js"></script> <!-- 引入Paho MQTT库文件 -->
</head>
<body>
<h1>MQTT Example</h1>

<script>
    // 创建一个唯一的客户端ID
    var clientId = "client-" + Math.random().toString(16).substr(2, 8);

    // 创建MQTT客户端对象
    var client = new Paho.MQTT.Client("192.168.3.221", 8083, clientId);

    // 设置连接断开时的回调函数
    client.onConnectionLost = onConnectionLost;

    // 设置消息到达时的回调函数
    client.onMessageArrived = onMessageArrived;

    // 连接到MQTT代理
    client.connect({
        onSuccess: onConnect,
        onFailure: onFailure
    });

    // 连接成功时的回调函数
    function onConnect() {
        console.log("Connected to MQTT broker");

        // 订阅主题
        client.subscribe("answer");
    }

    // 连接失败时的回调函数
    function onFailure(errorMessage) {
        console.log("Failed to connect: " + errorMessage.errorMessage);
    }

    // 连接断开时的回调函数
    function onConnectionLost(response) {
        if (response.errorCode !== 0) {
            console.log("Connection lost: " + response.errorMessage);
        }
    }

    // 消息到达时的回调函数
    function onMessageArrived(message) {
        console.log("Received message: " + message.payloadString);
    }

    // 发布消息
    function publishMessage() {
        var topic = "question";
        var payload = '{"name":"www","message":"再来一次"}';

        var message = new Paho.MQTT.Message(payload);
        message.destinationName = topic;

        client.send(message);
    }
</script>

<button onclick="publishMessage()">Publish</button>
</body>
</html>